@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');

*{
    font-family: 'Nothing You Could Do', cursive;
    font-size: large;
}
#map{
    height: 360px;
    width: 100%;
}

/* .leaflet-popup-content-wrapper {
    background-color: #000
  } */
